MONGODB_URI=mongodb://127.0.0.1:27017/?replicaSet=rs0
MONGODB_DATABASE=pedidos_stock
MONGODB_REPLICA_SET=rs0
MONGODB_BOOTSTRAP_URI=mongodb://127.0.0.1:27017/?directConnection=true
MONGODB_MEMBER_HOST=localhost:27017
MONGODB_TIMEOUT_SECONDS=30
SEED_MODE=upsert
